<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Rule 1: Get the live deployment data -->
                <rule name="mdtdata" stopProcessing="true">
                    <match url="api/mdtdata(.*)" />
                    <action type="Rewrite" url="http://mb03:9801/MDTMonitorData/Computers" appendQueryString="true" />
                </rule>
                <!-- Rule 2: Check the MDT service status -->
                <rule name="mdtstatus" stopProcessing="true">
                    <match url="api/mdtstatus(.*)" />
                    <action type="Rewrite" url="http://mb03:9801/MDTMonitorData/" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
